@using GameNight.Shared;
@using MudBlazor;


<div>
    <MudForm Model="@PlayedGame">
        <div>
            
            <MudTextField Label="Game Name" @bind-Value="PlayedGame.GameName"> </MudTextField>
        </div>
        <div>
            
            <MudDatePicker Label="Game Date" @bind-Date="PlayedGame.StartedAtUtc"> </MudDatePicker>
        </div>
        <div>
            
            <MudNumericField Label="Duration(minutes)" @bind-Value="PlayedGame.DurationMinutes"></MudNumericField>
        </div>

        <PlayerGrid Players="@PlayedGame.Players"></PlayerGrid>
     
        

    </MudForm>
</div>

@code {
    [Parameter]
    public PlayedGame PlayedGame { get; set; } = new(); 

    
   
    }
    

    

   