@page "/addgame"
@page "/addgame/{Id:guid}"
@inject NavigationManager NavManager
@inject PlayedGamesClient PlayedGamesClient
@using GameNight.Shared;
@using GameNight.Client.PlayedGames
<h1>Add New Game</h1>

<div>
        <AddPlayedGameForm PlayedGame="@NewGame"></AddPlayedGameForm>
        <div class="game-submit-button">
            <button @onclick="SubmitGameButtonCLick">Submit Game</button>
        </div>
        <div class="return-to-games-button">
            <button @onclick="ReturnToGames">Return to Games</button>
        </div>

    
</div>

@code {
    [Parameter]
    public Guid? Id { get; set; }





    private PlayedGame NewGame = new();


    protected override async Task OnInitializedAsync()
    {
        if (Id is null) return;

        NewGame = await PlayedGamesClient.FetchById(Id.Value) ?? new();

    }



    private async Task SubmitGameButtonCLick()
    {
        if (NewGame.GameName == string.Empty || NewGame.DurationMinutes == 0 || NewGame.Players.Count == 0)
        {
            Console.WriteLine("All fields must be filled out!");
        }
        else
        {
            await SubmitGame();
        }
    }

    private async Task<PlayedGame> SubmitGame()
    {
        if (Id is null)
        {
            await PlayedGamesClient.Add(NewGame);

            return NewGame;
        }

        NewGame = await PlayedGamesClient.Update(NewGame);

        return NewGame;

       
    }

    private void ReturnToGames()
    {
        NavManager.NavigateTo("/");
    }
}
